.nav__switch .nav__wrap {
  width: 83.33%;
}
.nav__switch .decor__nav,
.nav__switch .btn--switch  {
  width: 16.67%;
}

.nav__switch .nav__wrap {
  background-color: #6c3d13;
}
.nav__switch .btn--switch,
.aside__block .btn--switch a {
  background-color: #ef2e40;
}
@media screen and (min-width: 960px) {
  .aside__block .btn--switch {
    background-color: #ef2e40;
  }
}